<h1>{{ surveyTemplate?.surveyTemplateId }}</h1>
<button mat-icon-button aria-label="borrar plantilla" (click)="enableEdition()">
  <mat-icon>{{editing ? 'preview' : 'edit'}}</mat-icon>
</button>
<div *ngIf="debugMode">
  <p>edit:{{editing}}</p>
</div>
<ul>
  <li *ngFor="let section of surveyTemplate?.sections">
    <h2>{{ section.name }}</h2>
    <div *ngIf="editing">
      <button mat-raised-button (click)="editSectionName(section.sectionId)">modificar nombre de seccion</button>
    </div>
    <div *ngIf="editing">
      <button mat-raised-button (click)="deleteSection(section.sectionId)">eliminar seccion</button>
    </div>
    <div *ngFor="let question of section.questions">
      <div *ngIf="debugMode">
        <p>{{ question.questionType }}</p>
      </div>
      <p>{{ question.statement }}</p>
      <div [ngSwitch]="question.questionType">
        <div *ngIf="editing">
          <button mat-raised-button (click)="deleteQuestion(question.questionId)">Eliminar Pregunta</button>
        </div>
        <div *ngSwitchCase="'OpenQuestion'">
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </div>
        <div *ngSwitchCase="'DateQuestion'">
          <input type="date">
        </div>
        <div *ngSwitchCase="'MultipleOptionQuestion'">
          <mat-select>
            <mat-option *ngFor="let option of getOptions(question)" [value]="option">{{option}}</mat-option>
          </mat-select>
        </div>
      </div>
    </div>
    <div *ngIf="editing">
      <button mat-raised-button (click)="addQuestionToSection(section.sectionId)">Agregar Pregunta</button>
    </div>
  </li>
  <br>
  <div *ngIf="editing">
    <button mat-raised-button (click)="addSection()">Agregar Seccion</button>
  </div>
</ul>
